WEBDAV_URL=https://nuage17.apps.education.fr/remote.php/dav/files/kevinpeuron/UNSS_DATA/database.json
WEBDAV_USERNAME=votre_identifiant
WEBDAV_PASSWORD=votre_mot_de_passe_application
SQL_HOST=
SQL_USER=
SQL_PASSWORD=
SQL_DB_NAME=
VITE_SUPABASE_URL=https://jgzcznwurnqefcseougm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_AlAV1AxacxXkLL8n7Su02g_0idiSK_L
SUPABASE_URL=https://jgzcznwurnqefcseougm.supabase.co
SUPABASE_ANON_KEY=sb_publishable_AlAV1AxacxXkLL8n7Su02g_0idiSK_L

